# 5.37: Useful Operators in Python

This notebook discussed useful functions, methods, and operators in Python. This notes discuss:

- range( ) function
- enumerate( ) function
- zip( ) function
- Membership operators (in, not in)
- min( ) function
- max( ) function
- shuffle( ) method
- randint( ) method
- input( ) function

## Using the range( ) Function

#### Definition and Usage.  
The `range()` function returns a sequence of numbers, starting from 0 by default, increments by 1 (by default), and stops before a specified number.

#### Syntax
range *(start, stop, step)*

#### Parameter Values

<table align = "left">
  <tr>
      <th><p style = "text-align: left; font-size: 14px">Parameter</p></th>
      <th><p style = "text-align: left; font-size: 14px">Description</p></th>
  </tr>
  <tr>
      <td><p style = "text-align: left; font-size: 12px"><i>start</i></p></td>
    <td><p style = "text-align: left; font-size: 12px">Optional.  An integer that specifies at which position to start. (Default, 0)</p></td>
  </tr>
  <tr>
      <td><p style = "text-align: left; font-size: 12px"><i>stop</i></p></td>
    <td><p style = "text-align: left; font-size: 12px">Required.  An integer that specifies at which position to stop. <br>The range is generated up to and not inclusvie of this number.</p></td>
  </tr>
  <tr>
      <td><p style = "text-align: left; font-size: 12px"><i>step</i></p></td>
    <td><p style = "text-align: left; font-size: 12px">Optional.  An integer that specifies the incrementation. (Default, 1)</p></td>
  </tr>
</table>

### Generating Ranges of Numbers with Stop Values
In the following example we'll use the `range()` function to create a range of numbers from 0 to 10.   
If you pass in only one argument to the function, it's interpreted as the stop value.

In [5]:
for num in range(10): #specifies a range from 0 to 10 (not including 10)
    print(num) #prints the numbers

0
1
2
3
4
5
6
7
8
9

Notice that the output end at the number nine (9). This is because the number you specify as the stop value is not included in the range. 

To return the numbers 0 to 10, we have to specify a range value of *11,* as shown here:

In [9]:
for num in range(11): #specifies a range from 0 to 11 (not including 11)
    print(num) #prints the numbers

0
1
2
3
4
5
6
7
8
9
10

### Generating Ranges of Numbers with Start and Stop Values   
This example shows how to pass in start and stop values to the `range()` function.   

In the example will define *3* as the start value and *11* as the stop value.

In [10]:
for num in range(3, 11):
    print(num)

3
4
5
6
7
8
9
10

### Geneating Ranges of Numbers with Start, Stop and Step Arguments   
In this example we pass in start, stop and step arguments to the range() function.   

We specify a start value of *0,* and stop value of *11,* and a step value of *2.* The output should be even numbers from 0 to 10.

In [12]:
for num in range(0, 11, 2):
    print(num)

0
2
4
6
8
10

### Creating Lists from the range( ) Function 

To create a list from the `range()` function we can cast to a list as shown here:

In [15]:
my_casted_list = list(range(0, 11, 2))
print(my_casted_list)

[0, 2, 4, 6, 8, 10]

## Using the enumerate ( ) Function

### Definition and Usage.
Takes an iterable object and for each item or element in the o object, returns an index/counter and an item/element.

### Syntax
enumerate(iterator)

### Use Case
As an example, the following code is very common in programming to use some sort of counter to keep track of how many times you iterate through a loop and/or the index position:

In [17]:
index_count = 0

for letter in "abcde":
        print("At index {} the letter is {}".format(index_count, letter))
        index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

Another example...

In [54]:
index_count = 0
word = "abcde"

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

### Using enumerate ( ) to Add Counters to Strings   
In the following example we use the `enumerate()` function to on a string to add counters/index values to each item in the string. The return result is a list of tuples.

In [55]:
word = "abcde"

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

## Using the zip ( ) Function   
The `zip()` function is the opposite of the `enumerate()` function, and zips together two or more iterable objects and return an iterator of tuples.

In [56]:
mylist1=[1,2,3]
mylist2=["a", "b", "c"]

for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

If the passed iterators have different lengths, no error is thrown. Instead, the iterator with the least items decides the length of the new iterator. 

For example:

In [57]:
mylist3=[1,2,3,4,5,6]
mylist4=["a", "b", "c"]

for item in zip(mylist3, mylist4):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

### Casting zip() Function Return Values to Lists   
In this example we cast the return values from the `zip()`function to a list of tuples.

In [58]:
#given
mylist5=[1,2,3,4,5,6]
mylist6=["a", "b", "c"]
mylist7=[100, 200, 300]

In [59]:
list(zip(mylist5,mylist6,mylist7))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

### Unpacking zip() Function Return Values   
In this example we unpack the return values from the `zip()`function.

In [60]:
#given
mylist5=[1,2,3,4,5,6]
mylist6=["a", "b", "c"]
mylist7=[100, 200, 300]

for a, b, c in zip(mylist5, mylist6, mylist7):
    print(c)

100
200
300

## Using Membership Operators 
Membership operators are used to test if a sequence is presented in an object:
<table align = "left">
  <tr>
      <th><p style = "text-align: left; font-size: 14px">Operator</p></th>
      <th><p style = "text-align: left; font-size: 14px">Description</p></th>
  </tr>
  <tr>
      <td><p style = "text-align: left; font-size: 12px"><i>in</i></p></td>
    <td><p style = "text-align: left; font-size: 12px">Returns True if a sequence with the specified value is present in the object</p></td>
  </tr>
  <tr>
      <td><p style = "text-align: left; font-size: 12px"><i>not in</i></p></td>
    <td><p style = "text-align: left; font-size: 12px">Returns True if a sequence with the specified value is not present in the object</p></td>
  </tr>
</table>

### Using the in Membership Operator

In [61]:
#Example 1

"x" in [1, 2, 3]

False

In [35]:
#Example 2
"x" in ["x", "y", "z"]

True

In [62]:
#Example 3
dictionary1={"mykey":345}

345 in dictionary1.values()

True

### Using the not in Membership Operator

In [63]:
#Example 1

"x" not in [1, 2, 3]

True

In [64]:
#Example 2
"x" not in ["x", "y", "z"]

False

In [67]:
#Example 3
dictionary1={"mykey":345}

345 not in dictionary1.values()

False

## Using the min( ) Function and the max( ) Function

- `min()`- returns the lowest value in a list.   
- `max()`- returns the highest value in a list.

In [68]:
mylist8=[10, 20, 30, 40, 100]

In [69]:
min(mylist8)

10

In [70]:
max(mylist8)

100

## Using the Random Module

Python's built-in `random` module contains a set of methods you can use to make random numbers. In this notebook, we discuss these methods:

- `shuffle()` - Shuffles the sequence of items in an object. 
- `randint()` - Returns a random number within a given range.

### Using the shuffle( ) Method   
The `shuffle()` method randomly shuffles items in an object. It is an in-place method.

#### Importing the Method

Before we can invoke the method we need to import it from the Random module.

In [73]:
from random import shuffle #import the shuffle() method from the random module.

Next, we need a list of items to shuffle. We'll create a list using the `range()` function discussed earlier in the course.

In [47]:
#Create a list from 0-10

mylist9=list(range(11))
print(mylist9)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Then we can randomly shuffle the list by invoking the `shuffle()`method. 

To invoke the method, we'll pass in mylist9 as an argument.

In [74]:
#Invoking the shuffle() method and passing in mylist9 as an argument.

shuffle(mylist9)

And because `shuffle()` is an in-place method we can't assign the result of the method invocation to a variable. If we try to do so, the system returns *None* as shown here.

In [75]:
shuffled_list=shuffle(mylist9)
print(shuffled_list)

None

#### Viewing the Results of the Method Invocation

To view the result of the method invocation we can print the list after the method invocation.

In [76]:
shuffle(mylist9)
print(mylist9)

[6, 8, 7, 2, 9, 0, 1, 5, 4, 10, 3]

#### Assigning the Invocation Results to Variables

To assign the result of the method invocation to a new variable, assign the original variable equal to a new variable.

In [77]:
shuffled_list=mylist9
print(shuffled_list)

[6, 8, 7, 2, 9, 0, 1, 5, 4, 10, 3]

### Using the randint( ) Method

Returns a random number between a given range.

#### Syntax
`random.randint(start, stop)` 

The start and stop values are included in the range of possible return values.

#### Importing the randint( ) Method

In [78]:
from random import randint #import the randint() method from the random module.

#### Invoking the randint( ) Method

In [79]:
randint(0,100) #Generating a random number between 0 and 100.

28

#### Assigning the Return Value to Variable

In [80]:
my_random_number=randint(100, 1000)

In [81]:
my_random_number

445

## Using the Input Method

#### Definition 

The built-in `input()` function allows user input.

#### Syntax

`input(prompt)`

#### Comment 
Accepts everything entered as a string. However, you can use casting to convert the string to a different data type.

### Example 1   
In the following example the user is prompted to enter a number.

In [82]:
input("Enter a number here: ")

Enter a number here: 50

'50'

The result returned in a string. We can cast the result to convert the string to an integer:

### Example 2

In [89]:
result = input("What's your favorite number? ")

What's your favorite number? 365

In [94]:
result

'365'

In [90]:
#Check the data type of the result
type(result)

str

Now we can use casting to convert the result to an integer. We need to store the casted value in a new variable.

In [106]:
result2 = int(result)

In [107]:
result2

365

In [108]:
type(result2)

int