# 3.17: String Concatenation and String Methods

## String Concatenation.

### Example 1   
Concatenating strings using string indexing and the addition operator.

In [9]:
name = "Sam"
name

'Sam'

In [4]:
last_letters = name[1:]
last_letters

'am'

In [5]:
"P" + last_letters

'Pam'

### Example 2   
Concatenating strings using the addition operator.

In [6]:
x = "Hello World"
x + " it's beautiful outside!"

"Hello World it's beautiful outside!"

### Example 3   
Concatenating strings using the multiplication operator.

In [10]:
letter = "z"

In [11]:
letter * 10

'zzzzzzzzzz'

## Using String Methods

To access string methods, after the string variable name, enter a perio and hit enter to view a list of available attributes and methods.

### Example 1   
Using the string `upper()` method.

In [12]:
x.upper()

'HELLO WORLD'

### Example 2   
Using the string `lower()` method.

In [13]:
x.lower()

'hello world'

### Example 3   
Using the string

In [14]:
x.split() #By default the split() method splits on the white space.

['Hello', 'World']

In [16]:
x.split("l") #Pass in a letter from the string to split on that letter. Notice that the letter passed in isn't included in the return value.

['He', '', 'o Wor', 'd']

In [1]:
y="fruit"